
@{
    ViewBag.Title = "RegisterSuccess";
}

<h2>RegisterSuccess</h2>

<div>Your Company is Successfully Registered With CRM and you will get Conformation Mail ,To Active your Account Please Click on  the link </div>