<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTPHOST" value="smtp.gmail.com"/>
    <add key="SMTPPORT" value="587"/>
    <add key="SMTPUSER" value="mkbondada1@gmail.com"/>
    <add key="SMTPPWD" value="mani281051"/>
    <add key="SSL" value="true"/>
    
    <add key="ADMINEMAILID" value="venkat.5160@gmail.com"/>
    
  
  </appSettings>
</configuration>